@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Lỗi</title>
</head>
<body>
    <h2>Lỗi</h2>
    <p>@ViewBag.ErrorMessage</p>
    <a href="@Url.Action("Login", "Login")">Quay lại trang đăng nhập</a>
</body>
</html>